//Header Colors
$marketing: #484848;
$firstTitle: #42495b;
$littleText: #7a839e;
$whiteText: white;
$skyblueTitles: #7e76f9;
$purple: #7f76f942;
$bluePrice: #1000ff;
$greyInput: #f6f7fb;
$greyText: #999999;
//General
$flex: flex;
$textNone: none;
//First Section
$marginLeft: 150px;
//Fonts
$poppins: 'Poppins',
sans-serif;
$dosis: 'Dosis',
sans-serif;
$lato: 'Lato',
sans-serif;
$smallFont: 20px;
$mediumFont: 25px;
$bigFont: 50px;
$normalFont: normal;
$boldFont: bold;
//Buttons
$btncolor: linear-gradient(to left, #6156f9 12%, #1a129f 50%);
//Second Section
$marginLeft2: 84px;
//Third Section
$marginBoxes: 10px;
$marginTopBoxes: 37px;